@font-face {
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 400;
     font-display: swap;
     src: url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
     unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
   }

@font-face {
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 700;
     font-display: swap;
     src: url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfBBc4.woff2) format('woff2');
     unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
   }

* {
     box-sizing: border-box;
}

html, body {
     font-family: 'Roboto', sans-serif;
     font-size:16px;
     margin:0;
     padding:0;
}

img {
     width:300px;
}

a {
     text-decoration:none;
     color:inherit;
}

a:hover {
     padding:15px;
}

a:active {
     font-weight:900;
}

/*Navigation*/

.navigation {
     display: flex;
     justify-content: flex-end;
     align-items: center;
     background-color:rgba(0, 0, 0, 0);
     width:100%;
     height:90px;
     position: absolute;
     top:0;
     left:0;
     text-align: right;
     font-size:2rem;
     border-bottom:1px solid black;
     z-index: 10;
     opacity: 0.6;
}

.navigation li{
     display:inline-block;
     padding: 10px;
     border-left:4px solid black;
     
}

.navigation #left {
     position: absolute;
     left:0;
     font-size:2.25rem;
     border:none;
}


/*Site-Hero*/

.img-container {
     background-image: url("../images/background-image.jpg");
     background-repeat: no-repeat;
     background-size: cover;
     width:100%;
     height:1000px;
     position:relative; 
     top:0px;
     display: flex;
     justify-content: center;
     align-items: center;
}
.site-hero {
     z-index: 9;
}

.site-hero h1 {
     font-size:8rem;
     font-weight:bold;
     opacity: 0.7;
}

/*Mission Statement*/

.mission-statement {
     display: flex;
     flex-flow:wrap;
     background-color: rgba(97, 161, 169, 0.5);
     width:100%;
     height:390px;
     justify-content: center;
     align-items: center;
     margin-bottom:10px;
     text-align: center;
     flex-shrink:2;
}

.mission-statement h2 {
     font-size:4rem;
}

.mission-statement h3 {
     font-size:3rem;
     margin:15px;
}

/*Featured-Section*/

.featured-products {
     display: flex;
     align-items: center;
     flex-direction: column;
     height:1300px;
     flex-shrink:2;
}

.featured-header h3 {
     font-size:3rem;
}

.product {
     display: inline-flex;
     justify-content: space-between;
     position: relative;
     
}

.product p, .product h3 {
     font-size:1.5rem;
}
.product-one {
     border-left:5px solid black;
}

.product-two {
     flex-direction: row-reverse;
     border-right:5px solid black;
}

.product-three {
     border-left:5px solid black;
}

.featured-img img {
     margin:20px;
     width:400px;
     border-radius:5px;
}

.featured-img img:hover {
     width:450px;
     
}


/*Employees Section*/

.employee-section {
     display: inline-flex;
     justify-content: space-around;
     align-items: center;
     width:100%;
     height:750px;
     background-color: rgba(97, 161, 169, 0.5);
     flex-shrink:2;
}

.employee {
     margin:10px;
     text-align: center;
}

.employee img {
     border-radius:30px;
}

.employee h3 {
     font-size:2rem;

}

.employee p {
     font-size:1.25rem;
}

.employee img:hover {
     margin-bottom:30px;
}

/*Contact*/

.contact {
     display: flex;
     position: relative;
     height:400px;
     background-color:hsla(186, 73%, 10%, 0.5);
     justify-content: center;
     align-items: center;
     flex-direction:column;
     text-align: center;
}

.contact h2 {
     font-size:2rem;
}

.contact h3 {
     font-size:1.5rem;
}

hr {
     width:100%;
     
}

/*
background-color: rgba(97, 161, 169, 0.5);
background-color:hsla(186, 73%, 10%, 0.5);*/